.footer {
    width: 100%;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #000;
}

.footer p {
    padding: 20px 10px;
    color: #fff;
}