.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em 1.2em;
    background-color: #333;
    color: #fff;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo h1 {
    margin-left: .5em;
}

.link_itens {
    display: flex;
    list-style: none;
}

.link_itens li {
    margin-right: 1.3em;
}

.link_itens a {
    color: #FFF;
    text-decoration: none;
    padding: 5px;
    transition: 0.5s;
    border-bottom: 3px solid transparent;
}

.link_itens a:hover {
    border-bottom: #FFF;
}